<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
  function cancelar(){
    $('#nivelEmp').remove();
    $('#access'). attr("disabled", false);
    $('#accessejec'). attr("disabled", false)
    $('#informacion'). attr("disabled", false);
    $('#promocion'). attr("disabled", false);
  }
  function salirt(){
    $('#nivelEmp').remove();
    $('#access'). attr("disabled", false);
    $('#accessejec'). attr("disabled", false);
    $('#informacion'). attr("disabled", false)
    $('#promocion'). attr("disabled", false);
  }
</script>

Access-Control-Allow-Origin: *

<dom-module id="pantalla-formulario">
  <template>

    <style>
      :host {
        display: block;
      }
      .conten{
        background: white;
      }

      .inicio{
        background: white;
        height: 100%;
        border-radius: 5px;
        padding: 10px;
        }

    </style>
<div id="desplegables" class="container " hidden$={{logado}}>
  <div class="row">
    <div id="login" class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-12 conten border-info border contenedorFormulario" >
        <h2 class="text-center">Bienvenido [[titulo]]</h2>
        <br />
              <h1 style="text-align:center;"><span class="glyphicon glyphicon-user" ></span></h1>
          <form>
              <div class="form-group">
                Correo:
                    <input id="corr" class="form-control" value="{{email::input}}" type="email" placeholder="Correo electrónico" required>
              </div>
              <div class="form-group">

                Contraseña:
                    <input class="form-control" value="{{password::input}}" type="password" placeholder="Contraseña" required>

              </div>
              <div class="row">
                <div class="col">
                  <button id="btn1" on-click="login"  type="button" name="button" class="btn fondoboton btn-success mb-2 btn-lg">
                    <span class="glyphicon glyphicon-ok" ></span> Entrar</button>
                </div>
                <div class="col">
                  <button onclick="cancelar();" type="button" class="btn fondoboton btn-danger mb-2 btn-lg">
                    <span class="glyphicon glyphicon-remove" ></span> Cancelar</button>
                </div>
                </div>
              </form>
              </div>
            </div>
          </div>


<div class="inicio container-fluid border-info border" hidden$={{!logado}}>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-9"></div>
        <div class="col-sm-2">
            <button onclick="salirt();" type="button"  class="btn fondoboton btn-danger">
              <span class="glyphicon glyphicon-new-window"></span> Salir</button>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1"></div>
        <h2 class="titulo text-primary">
          <span class="glyphicon glyphicon-user"></span> Información del [[titulo]]</h2>
      </div>

      <div class="row">
        <div class="col-sm-1"></div>
          <div class="col-sm-6">
            <template is="dom-repeat" items="{{clientes}}">
              <h4 class="text-primary"><strong>Nombre:</strong> [[item.nombre]]</h4>

              <h4 class="text-primary"><strong>Apellido:</strong> [[item.apellido]]</h4>

              <h4 class="text-primary"><strong>Correo:</strong> [[item.email]]</h4>
            </template>
          </div>

                  <div class="col-sm-4">
                          <button on-click="movimiento1" type="button" name="button" class="btn btn-success mb-2 btn-lg">
                            <span class="glyphicon glyphicon-eye-open"> Consultar movimientos</button>

                          <button on-click="nuevoMov1" type="button" name="button" class="btn btn-success mb-2 btn-lg">
                            <span class="glyphicon glyphicon-plus"></span> Ingresar nuevo movimiento</button>
                  </div>
                  <div class="col-sm-1">
                  </div>
                </div>

              </div>
<br />
<div hidden$={{!ocultar}}>
  <div class="inicio container-fluid border-info border">
    <div class="row">
      <h3 class="titulo text-primary col-sm-5">
        <span class="glyphicon glyphicon-menu-hamburger"></span> [[consultarmovi]]</h3>
    </div>
    <div class="row">
      <div class="col-sm-5"></div>
      <div class="col-sm-2">
        <button on-click="obtenerMovimientos" type="button" class="btn btn-primary mb-2 btn-lg">
          <span class="glyphicon glyphicon-retweet"></span> Actualizar</button>
      </div>
      <div class="col-sm-5"></div>
    </div>
    <br />
    <div class="col-sm-2"></div>
    <div class="row col-sm-8">
        <table class="table table-hover border-info border" style="text-align:center;">
          <thead>
            <tr class="table-info">
              <th>Fecha</th>
              <th>Cantidad</th>
              <th>Tipo</th>
            </tr>
          </thead>
          <template is="dom-repeat" items="{{movimientos}}">
          <tbody>
              <tr>
                <td>[[item.fecha]]</td>
                <td>$[[item.importe]]</td>
                <td>[[item.descripcion]]</td>
              </tr>
            </template>
          </tbody>
        </table>
        <div class="col-sm-3"></div>
      </div>
    </div>
    <br />
</div>

<div hidden$={{!ocultar1}}>

  <div class="inicio container-fluid border-info border">
    <div class="row">
      <div class="col-sm-1"></div>
      <h3 class="titulo text-primary">
        <span class="glyphicon glyphicon-plus"></span> [[nuevomovi]]:</h3>
    </div>
          <form>
            <div class="row">
              <div class="col-sm-1"></div>
                <div class=" col-sm-8">
                  <form>
                    <div class="row">
                      <div class="col">
                          <p class="text-primary">Fecha: </p><input type="text" value="{{agregarFecha::input}}" placeholder="dd/mm/aaaa" class="form-control" required>
                      </div>
                      <div class="col">
                          <p class="text-primary">Cantidad:</p> <input type="text" value="{{agregarCantidad::input}}" class="form-control" placeholder="Cantidad del movimiento" required>
                        </div>

                      <div class="col">
                          <p class="text-primary">Tipo: </p><input type="text" value="{{agregarTipo::input}}" class="form-control" placeholder="Tipo de movimiento" required>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-sm-2">

                    <button on-click="agregarMovimientoNuevo"  type="submit" class="btn btn-success mb-4 btn-lg" type="button">
                      <span class="glyphicon glyphicon-save"></span> Guardar</button>

                </div>
              </div>
      </form>
  </div>

</div>

<iron-ajax
      id="registrar"
      url="http://localhost:3002/Cliente"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="registroCorrecto"
      on-error="registroIncorrecto">
  </iron-ajax>

  <iron-ajax
        id="listMovi"
        url="http://localhost:3002/ObtenerMovimiento"
        content-type="application/json"
        crossDomain:true
        dataType:'jsonp'
        method="POST"
        handle-as="json"
        headers="Access-Control-Allow-Headers: *"
        on-response="movimientosEncontrados"
        on-error="movimientosNoEncontrados">
  </iron-ajax>

  <iron-ajax
        id="nuevMov"
        url="http://localhost:3002/AgregarMovimiento"
        content-type="application/json"
        crossDomain:true
        dataType:'jsonp'
        method="POST"
        handle-as="json"
        headers="Access-Control-Allow-Headers: *"
        on-response="movimientAgregado"
        on-error="movimientNoAgregado">
  </iron-ajax>

</template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     /*Polymer({
        is:'pantalla-formulario',
        ready: function(){
          console.log(this.$);
        }

     });*/

    class PantallaFormulario extends Polymer.Element {
      static get is() { return 'pantalla-formulario'; }
      static get properties() {
        return {
          email: {
            type: String
          },password: {
            type: String
          },logado: {
            type: Boolean,
            value: false
          },clientes: {
            type: Array,
            notify: true
          },estado:{
            type:String
          },titulo: {
            type: String,
            value: 'Cliente'
          },consultarmovi:{
            type:String,
            value:'Consultar movimientos'
          },nuevomovi:{
            type:String,
            value:'Agregar nuevo movimiento'
          },ocultar: {
            type: Boolean,
            value: false
          },ocultar1: {
            type: Boolean,
            value: false
          },idCLient:{
            type:Number
          },movimientos:{
            type: Array,
            notify: true
          },respuest:{
            type: Array,
            notify: true
          },agregarFecha:{
            type:String,
            value:''
          },agregarCantidad:{
            type:String,
            value:''
          },agregarTipo:{
            type:String,
            value:''
          }
        };
      }


movimiento1(){
  if(this.ocultar)
  this.ocultar=false
  else
    this.ocultar=true
  }

  nuevoMov1(){
    if(this.ocultar1)
    this.ocultar1=false
    else
      this.ocultar1=true
  }

    login() {
    var loginData = {
    "email":this.email,
    "password":this.password
  };
  console.log(loginData);
  this.$.registrar.body = JSON.stringify(loginData);
  this.$.registrar.generateRequest();
  console.log("Petición de acceso enviada");
}

registroCorrecto(data) {
  console.log("Respuesta de acceso recibida del servidor");
  this.clientes=data.detail.response;
  console.log(this.clientes);
  this.logado = true;

}
registroIncorrecto(error) {
  console.log("Ocurrio un error");
  alert("Datos de acceso ingresados incorrectos, por favor valide");
  console.log(error);
  }

  obtenerMovimientos() {
    var objeto=this.clientes['0'];
    var id=objeto['idCliente'];
    var loginData = {
      "id":id
    };
    console.log(loginData);
    this.$.listMovi.body = JSON.stringify(loginData);
    this.$.listMovi.generateRequest();
    console.log("Petición de id enviada");
  }

  movimientosEncontrados(data) {
    console.log("Respuesta de id recibida del servidor");
    this.movimientos=data.detail.response;
    console.log(this.movimientos);
  }

  movimientosNoEncontrados(error) {
    console.log("Ocurrio un error con el id");
    alert("Ningun movimiento encontrado");
    console.log(error);
  }

  agregarMovimientoNuevo() {
    var objeto=this.clientes['0'];
    var id=objeto['idCliente'];
    var loginData = {
    "idCliente":id,
    "fecha":this.agregarFecha,
    "importe":this.agregarCantidad,
    "descripcion":this.agregarTipo
    };
    console.log(loginData);
    if(this.agregarFecha != '' && this.agregarCantidad != '' & this.agregarTipo != ''){
      this.$.nuevMov.body = JSON.stringify(loginData);
      this.$.nuevMov.generateRequest();
      console.log("Movimiento enviado");
    }else{
      console.log('campos vacios');
      alert('Llenar todos los campos para poder agregar el movimiento');
    }
  }

  movimientAgregado(data) {
    console.log("Exito al agregar el movimiento");
    alert('Movimiento agregado');
    console.log(data.detail.response);
    //this.respuest=data.detail.response;

  }

  movimientNoAgregado(error) {
    alert("No se pudo agregar el movimiento");
    console.log("Ocurrio un error con el movimiento");
    console.log(error);
  }
}
    window.customElements.define(PantallaFormulario.is, PantallaFormulario);
  </script>
</dom-module>
