<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<dom-module id="pantalla-informacion">
  <template>
    <style>
      :host {
        display: block;
      }

      .inicio{
        height: 550px;
        width: 100%;
        border-radius: 5px;
        background: white;
        }

        .bordeado{
          height: 50%;
          width: 100%;
          border-radius: 5px;
          background: white;
        }

    </style>

    <div class="container inicio border-info border" style="width:100%">
      <div class="row">
        <div class="col-sm-2" ></div>
        <div class="col-sm-8">
          <h1 class="titulo text-primary">[[prop1]]</h2>
        </div>
      </div>
      <div class="col-sm-6" >
        <div class="container-fluid bordeado border-info border">
          <div class="col-sm-1"></div>
          <div class="row">
            <h3>Información del estado al que corresponde un CP</h3>
            <br />
            <p>
              En esta sección puedes encontrar el estado al que pertenece un codigo postal en especifico
            </p>
            <div class="col-sm-2"></div>
            <form class="">
              <input id="cp" class="form-control" type="number" min="00001" max='99999' value="{{cp::input}}" placeholder="Ingresar 5 digitos" required>
                <br />
              <button on-click="buscarEtado"  type="button" name="button" class="btn fondoboton btn-success mb-2 btn-lg"/>
                <span class="glyphicon glyphicon-search"></span>
                Buscar
              </button>
            </form>
            <p>
              <h4 style="text-align:center;">El estado al que corresponde el C.P. es : <span class="text-success" >[[valor1]]</span></h4>
            </p>
            <br />
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="container bordeado border-info border">
          <div class="col-sm-1"></div>
          <div class="row">
            <h3>Información de municipios por estado</h3>
            <br />
            <p>
              En esta sección puedes buscar los municipios que se encuentran en alguno de los estados de México
            </p>
          <div class="col-sm-2"></div>
            <form class="" >
              <input id="" class="form-control" type="text"  value="{{estado::input}}" placeholder="Estado" required>
                <br />
              <button on-click="buscarMunicipio"  type="button" name="button" class="btn fondoboton btn-success mb-2 btn-lg"/>
                <span class="glyphicon glyphicon-search"></span>
                Buscar
              </button>
              </div>
            </form>
            <br />
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <div class="row border" style="height: 200px; overflow-y: scroll;">
                <table class="table table-hover border-info border" style="text-align:center;" >
                  <thead>
                    <tr class="table-info">
                      <th>Municipios</th>
                    </tr>
                  </thead>
                  <tbody>
                    <template is="dom-repeat" items="{{valor2}}">
                      <tr>
                        <td>
                          [[item]]
                        </td>
                      </tr>
                    </template>
                  </tbody>
                </table>
              </div>
            </div>
            <br />
            <div class="col-sm-2"></div>
            <br />
        </div>
      </div>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PantallaInformacion extends Polymer.Element {
      static get is() { return 'pantalla-informacion'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Información al Usuario'
          },
          estados: {
            type: Array,
            notify: true
          },
          municipios: {
            type: Array,
            notify: true
          },

          valor1: {
            type: Array,
            notify: true
          },
          valor2: {
            type: Array,
            notify: true
          },
          valor3: {
            type: Array,
            notify: true
          },
          valor4: {
            type: Array,
            notify: true
          },
          valor5: {
            type: Array,
            notify: true
          },

          cp:{
            type:String,
            value:''
          },
          estado:{
            type:String,
            value:''
          },
          contador:{
            type:Number,
            value:0
          }
        };
      }

      buscarEtado(){
        if(this.cp!=''){
          var request = new XMLHttpRequest();
          var codigo=this.cp;
          var url = "https://api-sepomex.hckdrk.mx/query/info_cp/"
          request.open("GET", url + codigo, false);
          request.setRequestHeader("Accept", "application/json");
          request.send();
          this.estados = JSON.parse(request.responseText);

          if (this.estados[0] == undefined){
            alert('Código postal invalido');
          }else{
            this.valor1=(((this.estados)[0]).response.estado)
          }
        }else{
          alert("Ingrese un codigo postal")
        }
      }

      buscarMunicipio(){
        if(this.estado!=''){
          var request = new XMLHttpRequest();
          var estado=this.estado;
          var url = "https://api-sepomex.hckdrk.mx/query/get_municipio_por_estado/"
          request.open("GET", url + estado, false);
          request.setRequestHeader("Accept", "application/json");
          request.send();
          this.municipios = JSON.parse(request.responseText);
          console.log(this.municipios);
          this.valor2=(this.municipios.response).municipios;
          console.log(this.valor2);
          console.table(this.municipios.response);

        }else{
        alert('Ingresa un estado')
      }
    }
}
    window.customElements.define(PantallaInformacion.is, PantallaInformacion);
  </script>
</dom-module>
