<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript">


  function cancelar(){
    $('#nivelEmp').remove();
    $('#access'). attr("disabled", false);
    $('#accessejec'). attr("disabled", false)
    $('#informacion'). attr("disabled", false);
    $('#promocion'). attr("disabled", false);
  }

  function salirt(){
    $('#access'). attr("disabled", false)
    $('#accessejec'). attr("disabled", false)
    $('#informacion'). attr("disabled", false)
    $('#nivelEmp').remove();
    $('#promocion'). attr("disabled", false)

  }

</script>

Access-Control-Allow-Origin: *

<dom-module id="pantalla-registroejecutivo">
  <template>

    <style>
      :host {
        display: block;
      }
      .conten{
        background: white;
      }

      .inicio{
        background: #E1E7E8;
        height: 100%;
        border-radius: 5px;
        padding: 10px;
        }

    </style>
<div id="desplegables" class="container " hidden$={{logado}}>
  <div class="row">
    <div id="login" class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-12 conten border-info border contenedorFormulario" >
        <h2 class="text-center">Bienvenido [[titulo]]</h2>
        <br />
              <h1 style="text-align:center;"><span class="glyphicon glyphicon-user" ></span></h1>
          <form>
              <div class="form-group">
                Correo:
                    <input id="corr" class="form-control" value="{{email::input}}" type="email" placeholder="Correo electrónico" required>
              </div>
              <div class="form-group">

                Contraseña:
                    <input class="form-control" value="{{password::input}}" type="password" placeholder="Contraseña" required>

              </div>
              <div class="row">
                <div class="col">
                  <button id="btn1" on-click="login" type="button" name="button" class="btn fondoboton btn-success mb-2 btn-lg">
                    <span class="glyphicon glyphicon-ok" ></span> Entrar</button>
                </div>
                <div class="col">
                  <button onclick="cancelar();" type="button" class="btn fondoboton btn-danger mb-2 btn-lg">
                    <span class="glyphicon glyphicon-remove" ></span> Cancelar</button>
                </div>
                </div>
              </form>
              </div>
            </div>
          </div>

<div class="inicio container-fluid border-info border" hidden$={{!logado}}>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-9"></div>
        <div class="col-sm-2">
            <button onclick="salirt();" type="button" class="btn fondoboton btn-danger"><span class="glyphicon glyphicon-new-window"></span> Salir</button>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1"></div>
      <h2 class="titulo text-primary">
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-user"></span> Información del [[titulo]]</h2>
      </div>

      <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-7">
        <template is="dom-repeat" items="{{cliente}}">
          <h4 class="text-primary"><strong>Nombre:</strong> [[item.nombre]]</h4>

          <h4 class="text-primary"><strong>Apellido:</strong> [[item.apellido]]</h4>

          <h4 class="text-primary"><strong>Correo:</strong> [[item.email]]</h4>
        </template>
      </div>

      <div class="col-sm-3">

            <button  on-click="clientes1" type="button"  class="btn btn-success mb-2 btn-lg">
              <span class="glyphicon glyphicon-eye-open"></span> Consultar clientes</button>

              <button on-click="nuevocliente1" type="button" name="button" class="btn btn-success mb-2 btn-lg">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="glyphicon glyphicon-user"></span> Dar de alta cliente</button>

              <button on-click="movimientos1" type="button" name="button" class="btn btn-success mb-2 btn-lg">
                <span class="glyphicon glyphicon-transfer"></span> Consultar movimientos</button>

      </div>
      <div class="col-sm-1">
    </div>
  </div>

</div>
<br />
<div hidden$={{!ocultar1}}>
  <div class="inicio container-fluid border-info border">
    <div class="row">
      <div class="col-sm-1"></div>
      <h3 class="titulo text-primary ">
        <span class="glyphicon glyphicon-list"></span>
         [[listaclientes]]</h3>
    </div>
      <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-2">
          <button on-click="obtenerClientes" type="button" class="btn btn-primary mb-2 btn-lg">
            <span class="glyphicon glyphicon-retweet"></span> Actualizar</button>
        </div>
        <div class="col-sm-5"></div>
      </div>
      <div class="col-sm-2"></div>
      <div class="row col-sm-8"style="height: 200px; overflow-y: scroll;">
        <div class="container-fluid" >
        <table class="table table-hover border-info border" style="text-align:center;">

          <thead>
            <tr class="table-info">
              <td>Nombre</td>
              <td>Apellido</td>
              <td>email</td>
            </tr>
          </thead>
          <template is="dom-repeat" items="{{clientes}}">
            <tbody>
              <tr>
                <td>[[item.nombre]]</td>
                <td>[[item.apellido]]</td>
                <td>[[item.email]]</td>
              </tr>
            </tbody>
          </template>
        </table>
      </div>

      </div>
      <div class="col-sm-2"></div>
    </div>
    <br />
  </div>

<div hidden$={{!ocultar2}}>
  <div class="inicio container-fluid border-info border">
    <div class="row">
      <div class="col-sm-1"></div>
      <h3 class="titulo text-primary col-sm-4">
        <span class="glyphicon glyphicon-plus"></span>
         [[nuevocliente]]</h3>
    </div>
          <form>
            <div class="row">
              <div class="col-sm-1"></div>
                <div class=" col-sm-8">
                  <div class="row">

                    <div class="col">
                        Nombre: <input type="text"  placeholder=" " value="{{nuevoNombre::input}}" class="form-control" required>
                    </div>

                    <div class="col">
                        Apellido: <input type="text"  class="form-control" placeholder="" value="{{nuevoApellido::input}}" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                        Correo: <input type="text"  class="form-control" placeholder="@correo.com" value="{{nuevoEmail::input}}" required>
                    </div>
                    <div class="col">
                        Password<input type="text"  class="form-control" placeholder="4 digitos" value="{{nuevoPassword::input}}" required>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="">
                    <button on-click="agregarCliente" type="submit" class="btn btn-success mb-4 btn-lg" type="button">
                      <span class="glyphicon glyphicon-save"></span> Guardar</button>
                  </div>
                </div>
              </div>
      </form>
  </div>
  <br />
</div>

<div hidden$={{!ocultar3}}>
  <div class="inicio container-fluid border-info border">
    <div class="row">
      <div class="col-sm-1"></div>
      <h3 class="titulo text-primary col-sm-6">
        <span class="glyphicon glyphicon-open-file"></span>
         [[listamovimientos]]</h3>
    </div>

    <div class="row">

        <div class="col-sm-3"></div>

        <div class="col-sm-4">
          <input type='email' placeholder="Ingresar correo" value="{{buscarCorreo::input}}" required/>
        </div>
        <div class="col-sm-2">
          <button on-click="buscarClienteEmail" type="submit" class="btn btn-primary mb-2 btn-lg"><span class="glyphicon glyphicon-search"></span> Buscar</button>
        </div>

        <div class="col-sm-3"></div>

    </div>
    <div class="row">
        <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <template is="dom-repeat" items="{{buscarCliente}}">
                  <h3 class="text-primary">
                      <strong>Nombre:</strong> [[item.nombre]] [[item.apellido]]
                  </h2>
                </template>
              </div>
        <div class="col-sm-3"></div>
      </div>
      <br />
      <div hidden$={{!ocultar4}}>
        <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <button on-click="obtenerMovimientos" type="button" class="btn btn-primary mb-2 btn-lg">
            <span class="glyphicon glyphicon-menu-hamburger"></span> Ver movimientos</button>
        </div>
        <div class="col-sm-4"></div>
      </div>

      <div class="col-sm-2"></div>
      <div class="row col-sm-8" border style="height: 200px; overflow-y: scroll;">
        <table class="table table-hover col-sm-6 border-info border" style="text-align:center;">
          <thead>
            <tr class="table-info">
              <td>Fecha</td>
              <td>Importe</td>
              <td>Descripción</td>
            </tr>
          </thead>
          <template is="dom-repeat" items="{{movimientosConsultados}}">
            <tbody>
              <tr>
                <td>[[item.fecha]]</td>
                <td>$[[item.importe]]</td>
                <td>[[item.descripcion]]</td>
              </tr>
            </tbody>
          </template>
        </table>

        <div class="col-sm-3"></div>
      </div>
      <div class="col-sm-2"></div>

    </div>
    </div>
    </div>
  </div>


<iron-ajax
      id="doLogin"
      url="http://localhost:3002/Ejecutivo"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse1"
      on-error="showError1">
</iron-ajax>

<iron-ajax
      id="todosMovs"
      url="http://localhost:3002/ObtenerClientes"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonp'
      method=POST
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse2"
      on-error="showError2">
</iron-ajax>

<iron-ajax
      id="newCliente"
      url="http://localhost:3002/AgregarNuevoCliente"
      content-type="application/json"
      crossDomain:true
      dataType:"text"
      method=POST
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse3"
      on-error="showError3">
</iron-ajax>

<iron-ajax
      id="listMovi"
      url="http://localhost:3002/ObtenerMovimiento"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponsee"
      on-error="showErrore">
</iron-ajax>

<iron-ajax
      id="busCli"
      url="http://localhost:3002/EncontrarCliente"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonp'
      method=POST
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse4"
      on-error="showError4">
</iron-ajax>

  </template>

  <script>
  var valor=0;
  var valor2=0;
    class PantallaFormulariocliente extends Polymer.Element {
      static get is() { return 'pantalla-registroejecutivo'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          },
          cliente: {
            type: Array,
            notify: true
          },
          clientes: {
            type: Array,
            notify: true
          },
          titulo: {
            type: String,
            value: 'Ejecutivo'
          },
          listaclientes:{
            type:String,
            value:'Listado de clientes'
          },
          nuevocliente:{
            type:String,
            value:'Agregar un nuevo cliente'
          },
          listamovimientos:{
            type:String,
            value:'Consulta de movimientos de un cliente'
          },
          ocultar1: {
            type: Boolean,
            value: false
          },
          ocultar2: {
            type: Boolean,
            value: false
          },
          ocultar3: {
            type: Boolean,
            value: false
          },
          statusCLientes:{
            type: String,
            value:'cliente'
          },
          nuevoNombre:{
            type:String,
            value:''
          },
          nuevoApellido:{
            type:String,
            value:''
          },
          nuevoEmail:{
            type:String,
            value:''
          },
          nuevoPassword:{
            type:String,
            value:''
          },
          nuevoId:{
            type:Number,
            value:0
          },
          buscarCorreo:{
            type:String
          },
          buscarCliente:{
            type:Array,
            notify: true
          },
          ocultar4:{
            type:Boolean,
            value:false
          },
          movimientosConsultados:{
            type:Array,
            notify: true
          }
        };
      }
      clientes1(){
        if(this.ocultar1)
        this.ocultar1=false
        else
          this.ocultar1=true
      }

      nuevocliente1(){
        if(this.ocultar2)
        this.ocultar2=false
        else
          this.ocultar2=true
        }

        movimientos1(){
          if(this.ocultar3)
          this.ocultar3=false
          else
            this.ocultar3=true
        }

    login() {
    var loginData = {
    "email":this.email,
    "password":this.password
  };
  console.log(loginData);
  this.$.doLogin.body = JSON.stringify(loginData);
  this.$.doLogin.generateRequest();
  console.log("Petición enviada");
}
manageAJAXResponse1(data) {
  console.log("Respuesta recibida del servidor");
  this.cliente=data.detail.response;
  console.log(this.cliente);
  this.logado = true;
}
showError1(error) {
  console.log("Ocurrio un error");
  alert("Datos ingresados incorrectos, por favor valide");
  console.log(error);
}

obtenerClientes() {
  var loginData = {
  "status":"ejecutivo"
};
this.$.todosMovs.body = JSON.stringify(loginData);
this.$.todosMovs.generateRequest();
console.log("Petición enviada");
}
manageAJAXResponse2(data) {
console.log("Clientes recibidos del servidor");
this.clientes=data.detail.response;
console.log(this.clientes);
console.log((this.clientes.length) + 1);
valor=(this.clientes.length) + 1;
console.log('el nuevo valor es:' + valor)

}
showError2(error) {
console.log("Ocurrio un error");
alert("CLientes no recibidos");
console.log(error);
}

agregarCliente() {
  this.nuevoId=valor;

  var loginData = {
  "idCliente":this.nuevoId,
  "nombre":this.nuevoNombre,
  "apellido":this.nuevoApellido,
  "email":this.nuevoEmail,
  "password":this.nuevoPassword,
  "status":"cliente"
  };
  if(this.nuevoNombre != '' && this.nuevoApellido != '' && this.nuevoEmail != '' && this.nuevoPassword!= ''){
  console.log(loginData);
  this.$.newCliente.body = JSON.stringify(loginData);
  this.$.newCliente.generateRequest();
  console.log("envio de cliente nuevo en proceso");
}else{
  console.log('campos vacios');
  alert('Llenar todos los campos para poder agregar un nuevo cliente');
}
}
manageAJAXResponse3(data) {
console.log("Clientes recibidos del servidor");
//this.clientes=data.detail.response;
}
showError3(error) {
console.log("No se logro agregar el nuevo cliente");
alert("Cliente no agregado");
console.log(error);
}

buscarClienteEmail() {
  var loginData = {
  "email":this.buscarCorreo
};
console.log(loginData)
this.$.busCli.body = JSON.stringify(loginData);
this.$.busCli.generateRequest();
console.log("Petición enviada");
}
manageAJAXResponse4(data) {
console.log("Clientes recibidos del servidor");
this.buscarCliente=data.detail.response;
console.log(this.buscarCliente);
var palabra=this.buscarCliente['0'];
valor2=palabra['idCliente'];
console.log('El id es: ' + valor2);
this.ocultar4=true;
}
showError4(error) {
if(this.buscarCorreo == undefined){
  alert("Ingresar el correo del cliente a consultar");
  console.log("Ingresar algun correo");
}else{
  alert("Correo no registrado con ningun cliente");
  console.log(error);
  }
}

obtenerMovimientos() {
  var loginData = {
    "id":valor2
  };

  console.log(loginData);
  this.$.listMovi.body = JSON.stringify(loginData);
  this.$.listMovi.generateRequest();
  console.log("Petición de id enviada");
}

manageAJAXResponsee(data) {
  console.log("Respuesta de id recibida del servidor");
  this.movimientosConsultados=data.detail.response;
  console.log(this.movimientosConsultados);
}

showErrore(error) {
  console.log("Ocurrio un error con el id");
  alert("Ningun movimiento encontrado");
  console.log(error);
}

}

    window.customElements.define(PantallaFormulariocliente.is, PantallaFormulariocliente);
  </script>
</dom-module>
