<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="pantalla-promocion">
  <template>
    <style>
      :host {
        display: block;
      }
      .inicio{
        height: 600px;
        width: 100%;
        border-radius: 5px;
        background: white;
        padding: 30px;

        }
        .columnas{
          height: 40%;
          border-radius: 5px;
          background: white;

        }
        .imagenes{
          height: 100%;
          border-radius: 5px;
          background: white;
          padding: 10px;

        }

    </style>

    <div class="container inicio border-info border">
        <div class="row">
          <div class="col-sm-2">
            <h1 style="text-shadow: black 5px 3px 3px;">
              <span class="glyphicon glyphicon-flag text-success"></span>
              <span class="glyphicon glyphicon-flag text-white"></span>
              <span class="glyphicon glyphicon-flag text-danger"></span>
            </h1>
        </div>
            <div class="col-sm-8">
              <h1 class="titulo text-primary">[[prop1]]</h2>
            </div>
            <div class="col-sm-2">
              <h1 style="text-shadow: black 5px 3px 3px;">
                <span class="glyphicon glyphicon-flag text-success"></span>
                <span class="glyphicon glyphicon-flag text-white"></span>
                <span class="glyphicon glyphicon-flag text-danger"></span>
              </h1>
            </div>
        </div>
        <br />
        <div class=" columnas border-info border">
          <div class="col-sm-1"></div>
          <div class="col-sm-6 ">
            <h3 class="text-success">Compras con descuento del 20% de descuento</h3>
            <br />
            <p>En estas fechas patrias aprovecha realizando movimientos
              en bebidas y alimentos y disfruta de un 20% de descuento,
               no lo pienses mas y cuenta con <strong>Banc-Ok</strong> el unico
             que te apoya y festeja contigo.</p>
          </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-3 imagenes ">
            <img src="https://http2.mlstatic.com/D_NQ_NP_654538-MLM31854763138_082019-O.jpg" style="width:100%; height:100%" alt="">
          </div>
          <div class="col-sm-1"></div>
        </div>
        <br />
        <div class=" columnas border-info border">
          <div class="col-sm-1"></div>
          <div class="col-sm-3 imagenes ">
            <img src="https://huevosanjuan.com.mx/uploads/images/blog/Blog-Noche-Mex_huevo_san_juan.jpg" style="width:100%; height:100%" alt="">
          </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-6 ">
            <h3 class="text-danger">Activa pagar a 24 y solo paga 23, te regalamos un mes</h3>
            <br />
            <p>Este mes en movimientos mayores a $1000
               activa tu modo de pago a 24 meses y solo paga 23, despreocupate
             de los gastos y sigue haciendo compras que te cuestan menos.</p></div>
          <div class="col-sm-1"></div>
        </div>
      </div>
    <br />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PantallaPromocion extends Polymer.Element {
      static get is() { return 'pantalla-promocion'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Mes Patrio de Promociones Patrias'
          }
        };
      }
    }

    window.customElements.define(PantallaPromocion.is, PantallaPromocion);
  </script>
</dom-module>
